﻿.column {
    display: flex;
    flex-wrap: wrap;
    
    align-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    display: flex;
    margin: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px 5px 0 0;
}

.name {
    width: 60%;
    padding: 2px 16px;
}