﻿@model IEnumerable<CMSys_Web.Areas.User.Models.TrainerGroupViewModel>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Card.css" rel="stylesheet" type="text/css" />
<h2>Trainers</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <h4>@Html.LabelForModel(item.TrainerGroupName)</h4>
        <div class="column">
            @foreach (var trainer in item.Trainers)
            {
                var base64 = Convert.ToBase64String(trainer.User.Photo);
                var imgSrc = $"data:image/gif;base64,{base64}";

                <div class="card">
                    <img src="@imgSrc" alt="Avatar">
                    <div class="name">
                        @Html.ActionLink(
                            trainer.User.FullName,
                            "Details", "User", new { area = "User", id = trainer.User.UserId},
                            new {@class = "compItem"})
                    </div>
                </div>

            }
        </div>
    }
    
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/modalWindow.js"></script>
}