﻿@model CMSys_Web.Areas.Default.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .col-centered {
            float: none;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="row">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-lg-3 col-centered form-horizontal">
                <h2>Please sign in</h2>
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control", placeholder = "Email"}})
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", placeholder = "Password"}})
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign in" class="btn btn-primary btn-block"/>
                </div>

            </div>
        }
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


