﻿@model CMSys_Web.Areas.Admin.Models.CourseGroupViewModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Update Course Group</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Edit", "CourseGroup", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.CourseGroupId)
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseGroupName, "Course Group Name", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CourseGroupName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseGroupName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>



