﻿@model IEnumerable<CMSys_Web.Areas.Admin.Models.CourseGroupViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Course Groups</h2>
<div class="col-md-5">
    @Html.ActionLink(" ", "Create", null, new { @class = "compItem btn btn-primary glyphicon glyphicon-plus pull-right" })
</div>
<br /><br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead style="background-color:antiquewhite ">
                <tr>
                    <th>@Html.LabelFor(model => model.FirstOrDefault().CourseGroupName, "Course Group Name")</th>
                    <th>Action</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                var modelWindow = "";
                if (item.Courses.Count > 0)
                {
                    modelWindow = "compItem";
                }
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CourseGroupName)</td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.CourseGroupId }, new { @class = "compItem btn btn-primary glyphicon glyphicon-pencil btn-xs" })
                        @Html.ActionLink(" ", "Delete", new { id = item.CourseGroupId }, new { @class = modelWindow + " btn btn-danger glyphicon glyphicon-trash btn-xs" })
                       
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/modalWindow.js"></script>
}


