﻿@{
    ViewBag.Title = "NotFound";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .col-centered {
            float: none;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-lg-3 col-centered form-horizontal">
        <h2>Oops!</h2>
        <h2>404 Not Found</h2>
        <br />
        @Html.ActionLink(" Take Me Home ", "Index", new { area = "User", controller = "Course" }, new { @class = "btn btn-primary btn-sm" })

    </div>
</div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
