﻿@model CMSys_Web.Areas.User.Models.CourseViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.CourseName)</h2>

@Html.LabelFor(model => model.Trainers, "Trainers:", new { @class = "control-label" })
<ul>
    @foreach (var item in Model.Trainers)
    {
        <li>@Html.DisplayFor(modelItem => item.User.FullName)</li>
    }
</ul>
@Html.LabelFor(model => model.Description, "Description:", new { @class = "control-label" })<br />
@Html.DisplayFor(model => model.Description)<br/><br/>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
