﻿@using CMSys_BLL_Intermediate_Entities.Enums
@model IEnumerable<CMSys_Web.Areas.User.Models.CourseViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    <table class="table">
        <thead style="background-color:antiquewhite ">
            <tr>
                <th>@Html.LabelFor(model => model.FirstOrDefault().CourseName, "Course Name")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().CodeType, "Type")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().CodePlanningMethod, "Schedule")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().Trainers, "Trainers")</th>
                <th>Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>
                    @{
                        var codeType = (CodeTypes)item.CodeType;
                    }
                    @Html.DisplayFor(modelItem => codeType)
                </td>
                <td>
                    @{
                        var codePlanningMethod = (CodePlanningMethods)item.CodePlanningMethod;
                    }
                    @Html.DisplayFor(modelItem => codePlanningMethod)
                </td>
                <td>
                    @foreach (var trainer in item.Trainers)
                    {
                        @Html.ActionLink(
                            trainer.User.FullName,
                            "Details", "User", new {id = trainer.User.UserId},
                            new {@class = "compItem"})<br/>
                    }
                </td>
                <td>
                    @Html.ActionLink("Info", "Details", new {area = "User", id = item.CourseId }, new { @class = "btn btn-primary btn-xs" })
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/modalWindow.js"></script>
}
