﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CMSys", "Index", new { area = "User", controller = "Course" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Courses", "Index", new { area = "User", controller = "Course" })</li>
                <li>@Html.ActionLink("Trainers", "Index", new { area = "User", controller = "TrainerGroup" })</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Course Groups", "Index", new { area = "Admin", controller = "CourseGroup" })</li>
                        <li>@Html.ActionLink("Trainer Groups", "Index", new { area = "Admin", controller = "TrainerGroup" })</li>
                        <li>@Html.ActionLink("Trainers", "Index", new { area = "Admin", controller = "Trainer" })</li>
                        <li>@Html.ActionLink("Courses", "Index", new { area = "Admin", controller = "Course" })</li>
                        <li>@Html.ActionLink("Users", "Index", new { area = "Admin", controller = "User" })</li>
                        <li>@Html.ActionLink("Roles", "Index", new { area = "Admin", controller = "Role" })</li>
                    </ul>
                </li>

            </ul>
            <div class="nav navbar-nav navbar-right">
                <span style="color: white">@User.Identity.Name </span>
                @Html.ActionLink("Logout", "Logoff", new { area = "Default", controller = "Login" }, new { @class = "btn btn-danger navbar-btn" }))
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
