﻿@model CMSys_Web.Areas.Admin.Models.UserViewModel


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>User</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            @{
                var base64 = Convert.ToBase64String(Model.Photo);
                var imgSrc = $"data:image/gif;base64,{base64}";
            }
            <dd>
                <img src="@imgSrc" alt="" />
            </dd>
           
            <dt>@Html.LabelFor(model => model.Firstname, "First Name")</dt>
            <dd>@Html.DisplayFor(model => model.Firstname)</dd>

            <dt>@Html.LabelFor(model => model.Lastname, "Last Name")</dt>
            <dd>@Html.DisplayFor(model => model.Lastname)</dd>

            <dt>@Html.LabelFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>

            <dt>@Html.LabelFor(model => model.StartDate, "Start Date")</dt>
            <dd>@Html.DisplayFor(model => model.StartDate)</dd>

            <dt>@Html.LabelFor(model => model.EndDate, "End Date")</dt>
            <dd>@Html.DisplayFor(model => model.EndDate)</dd>

            <dt>@Html.LabelFor(model => model.Department)</dt>
            <dd>@Html.DisplayFor(model => model.Department)</dd>

            <dt>@Html.LabelFor(model => model.OfficeLocation, "Office location")</dt>
            <dd>@Html.DisplayFor(model => model.OfficeLocation)</dd>

            <dt>@Html.LabelFor(model => model.Position)</dt>
            <dd>@Html.DisplayFor(model => model.Position)</dd>
        </dl>
    </div>
</div>


