﻿@model PagedList.IPagedList<CMSys_Web.Areas.Admin.Models.UserViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@Html.ActionLink(" ", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-plus pull-right" })
<br /><br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    <style>
        .input-group {
            display: inline;
        }
    </style>
    <div class="input-group">
        <input type="text" class="form-control" id="textForSearch">
        <button class="btn btn-default" type="button" id="search">Search</button>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
    <table class="table" id="tableBlock">
        <thead style="background-color: antiquewhite">
        <tr>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Firstname, "First Name")</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Lastname, "Last Name")</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().StartDate, "Start date")</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Email, "Email")</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Roles, "Roles")</th>
            <th>Actions</th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            var modelWindow = "";
            if (item.Roles.Count > 0)
            {
                modelWindow = "compItem";
            }
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Firstname)</td>
                <td>@Html.DisplayFor(modelItem => item.Lastname)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        @Html.DisplayFor(modelItem => role.RoleName)<br/>
                    }
                </td>
                <td>

                    @Html.ActionLink(" ", "Details", new {id = item.UserId}, new {@class = "compItem btn btn-info glyphicon glyphicon-info-sign btn-xs"})
                    @Html.ActionLink(" ", "Edit", new {id = item.UserId}, new {@class = "compItem btn btn-primary glyphicon glyphicon-pencil btn-xs"})
                    @Html.ActionLink(" ", "Delete", new {id = item.UserId}, new {@class = modelWindow + " btn btn-danger glyphicon glyphicon-trash btn-xs"})
                    @Html.ActionLink(" Roles ", "UpdateRoles", new {area = "Admin", controller = "User", id = item.UserId}, new {@class = "btn btn-success btn-xs"})
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/modalWindow.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var input = document.getElementById("textForSearch");
            $("#search").click(function (event) {
                event.preventDefault();
                GetUsersByFullname(input);
            });
        });
        function GetUsersByFullname(input) {
         
            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/values',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function WriteResponse(users) {
            var strResult = "<table><th>Firstname</th><th>Lastname</th><th>Start date</th><th>Email</th><th>Roles</th><th>Actions</th>";
            $.each(users, function (index, user) {
                var modelItem = "";
                if (user.Roles.length > 0) {
                    modelItem = "compItem";
                }
                strResult += "<tr><td>" +
                    user.Firstname +
                    "</td><td> " +
                    user.Lastname +
                    "</td><td>" +
                    user.StartDate +
                    "</td><td>" +
                    user.Email +
                    "</td><td>" +
                    "<a class='compItem btn btn-info glyphicon glyphicon-info-sign btn-xs' href='/Admin/User/Details/" +
                    user.UserId +
                    "'></a><a class='compItem btn btn-primary glyphicon glyphicon-pencil btn-xs' href='/Admin/User/Edit/" +
                    user.UserId +
                    "'></a><a class=" +
                    modelItem +
                    "' btn btn-danger glyphicon glyphicon-trash btn-xs' href='/Admin/User/Delete/" +
                    user.UserId +
                    "'></a ><a class='btn btn-success btn-xs' href='/Admin/User/UpdateRoles/" +
                    user.UserId +
                    "'> Roles </a>";

            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);
         
        }
    </script>
}


