﻿@model CMSys_Web.Areas.Admin.Models.UserViewModel
@{
    ViewBag.Title = "UpdateRoles";
}

<h2>Update Roles for @Html.DisplayFor(model => model.FullName)</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead style="background-color:antiquewhite ">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Roles)</th>
                    <th>Action</th>
                </tr>
            </thead>

            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                    <td>
                        @Html.ActionLink(" Remove ", "DeleteRole", new { userId = Model.UserId, roleId = item.RoleId }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        </table>

        <div class="container">
            @using (Html.BeginForm("AddRole", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
            {
                @Html.HiddenFor(model => model.UserId)
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SelectedRoleId, ViewBag.Roles as SelectList, new { @class = "selectpicker form-control" })
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>