﻿@model CMSys_Web.Areas.Admin.Models.TrainerViewModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>User</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Edit", "Trainer", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.TrainerId)
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.User, "Trainer", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.UserId, ViewBag.Trainers as SelectList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TrainerGroup, "Trainer Group", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.TrainerGroupId, ViewBag.TrainerGroups as SelectList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TrainerInfo, "Info", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TrainerInfo, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



