﻿@model IEnumerable<CMSys_Web.Areas.Admin.Models.TrainerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Trainers</h2>

@Html.ActionLink(" ", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-plus pull-right" })
<br /><br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    <table class="table">
        <thead style="background-color:antiquewhite ">
            <tr>
                <th>@Html.LabelFor(model => model.FirstOrDefault().TrainerGroup, "Group")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().User.Photo, "Photo")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().User.FullName, "Name")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().TrainerInfo, "Info")</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            var modelWindow = "";
            if (item.Courses.Count > 0)
            {
                modelWindow = "compItem";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerGroup.TrainerGroupName)
                </td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.User.Photo);
                        var imgSrc = $"data:image/gif;base64,{base64}";
                    }
                    <img src="@imgSrc" alt="" style="width: 40px; height: 50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td style="max-width: 200px">
                    @Html.DisplayFor(modelItem => item.TrainerInfo)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.TrainerId }, new { @class = "compItem btn btn-primary glyphicon glyphicon-pencil btn-xs" })
                    @Html.ActionLink(" ", "Delete", new { id = item.TrainerId }, new { @class = modelWindow + " btn btn-danger glyphicon glyphicon-trash btn-xs" })
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/modalWindow.js"></script>
}


