﻿@using CMSys_BLL_Intermediate_Entities.Enums
@model CMSys_Web.Areas.Admin.Models.CourseViewModel
@{
    ViewBag.Title = "Create";

}

<h2>Create Course</h2>

@using (Html.BeginForm("Create", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, "Course Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsNewCourse, "New Course", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.IsNewCourse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseGroup, "Course Group", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CourseGroupId, ViewBag.CourseGroups as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodeType, "Training Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodeType", EnumHelper.GetSelectList(typeof(CodeTypes)), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodeType, "Arrangement", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodePlanningMethod", EnumHelper.GetSelectList(typeof(CodePlanningMethods)), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




