﻿@model CMSys_Web.Areas.Admin.Models.CourseViewModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Delete Course</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            @Html.ValidationSummary(true)
        </dl>
    </div>
</div>




