﻿@using CMSys_BLL_Intermediate_Entities.Enums
@model IEnumerable<CMSys_Web.Areas.Admin.Models.CourseViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Courses</h2>

@Html.ActionLink(" ", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-plus pull-right" })
<br /><br />

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="row">
    <table class="table">
        <thead style="background-color:antiquewhite ">
            <tr>
                <th>@Html.LabelFor(model => model.FirstOrDefault().CourseName, "Course Name")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().CodeType, "Type")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().CodePlanningMethod, "Schedule")</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().Trainers, "Trainers")</th>
                <th>Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            var modelWindow = "";
            if (item.Trainers.Count > 0)
            {
                modelWindow = "compItem";
            }
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>
                    @{
                        var codeType = (CodeTypes)item.CodeType;
                    }
                    @Html.DisplayFor(modelItem => codeType)
                </td>
                <td>
                    @{
                        var codePlanningMethod = (CodePlanningMethods)item.CodePlanningMethod;
                    }
                    @Html.DisplayFor(modelItem => codePlanningMethod)
                </td>
                <td>
                    @foreach (var trainer in item.Trainers)
                    {
                        @Html.ActionLink(trainer.User.FullName,"Details", "User", new {id = trainer.User.UserId},new {@class = "compItem"})<br/>
                    }
                </td>
                <td>
                    @Html.ActionLink(" ", "Details", new { area = "Admin", controller = "Course", id = item.CourseId }, new { @class = "btn btn-info glyphicon glyphicon-info-sign btn-xs" })
                    @Html.ActionLink(" ", "Edit", new { area = "Admin", controller = "Course", id = item.CourseId }, new { @class = "btn btn-primary glyphicon glyphicon-pencil btn-xs" })
                    @Html.ActionLink(" ", "Delete", new { area = "Admin", controller = "Course", id = item.CourseId }, new { @class = modelWindow + " btn btn-danger glyphicon glyphicon-trash btn-xs" })
                    @Html.ActionLink(" Trainers ", "UpdateTrainers", new { area = "Admin", controller = "Course", id = item.CourseId }, new { @class = "btn btn-success glyphicon glyphicon-user btn-xs" })
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/modalWindow.js"></script>
}
