﻿@model CMSys_Web.Areas.Admin.Models.CourseViewModel
@{
    ViewBag.Title = "UpdateTrainers";
}

<h2>Update Trainers for @Html.DisplayFor(model => model.CourseName)</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead style="background-color:antiquewhite ">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Trainers)</th>
                <th>Action</th>
            </tr>
            </thead>

            @foreach (var item in Model.Trainers)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.User.FullName)</td>
                    <td>
                        @Html.ActionLink(" Remove ", "DeleteTrainer", new { courseId = Model.CourseId, trainerId = item.TrainerId }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        </table>
        
        <div class="container">
            @using (Html.BeginForm("AddTrainer", "Course", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
            {
                @Html.HiddenFor(model => model.CourseId)
                <div class="form-group">
                    @Html.DropDownListFor(model => model.SelectedTrainerId, ViewBag.Trainers as SelectList, new { @class = "selectpicker form-control" })
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>